/* HEADER & NAV */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #FFF;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__logo i {
    font-size: 1rem;
}

.nav__logo:hover {
    color: var(--first-color);
}

/* THEME */
.change-theme {
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover {
    color: var(--first-color);
}

/* MENU */

@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        bottom: 2rem;
        background-color: var(--container-color);
        box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.3rem 3rem;
        border-radius: 1.25rem;
        transition: .4s;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__link {
        color: var(--text-color);
        display: flex;
        padding: .5rem;
        border-radius: 50%;
        transition: .3s;
    }

    .nav__link i {
        font-size: 1.25rem;
    }

    .nav__link span {
        display: none;
    }
}