<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/admPage/breakpoints.css">
    <link rel="stylesheet" href="../static/css/admPage/footer.css">
    <link rel="stylesheet" href="../static/css/admPage/header.css">
    <link rel="stylesheet" href="../static/css/admPage/main.css">
    <link rel="stylesheet" href="../static/css/admPage/settings.css">

    <title>Lillac - Ajuda Especializada</title>
</head>

<body>


    <header class="header">
        <nav class="nav">
            <div class="nav__theme">
                <i class='bx bx-moon nav__theme-button' id="theme-button"></i>
                <a href="/logout"><i class='bx bx-exit nav__theme-button'></i></a>
            </div>
        </nav>
        <section class="header__select">
            <div class="header-item active" id="0">Pendentes <i class='bx bx-error-alt'> </i></div>
            <div class="header-item" id="1">Aprovados <i class='bx bx-check'></i></div>
            <div class="header-item" id="2">Reprovados <i class='bx bx-x'></i></div>

        </section>
    </header>

    <main class="main">
        <!-- Pendentes -->
        <div class="results active-page">
            {% for dicionario in lista %}
            {% if dicionario["adm"] == 0 %}
            <div class="result__item">
                <form action="/aproveService" method="post">
                    {%if "cnpj" in dicionario:%}
                    <a href="/aprovar/empresa/{{dicionario["id"]}}" class="aprove"> Aprovar <i class='bx bx-check'></i></a>
                    <a href="/reprovar/empresa/{{dicionario["id"]}}" class="reprove"> Reprovar <i class='bx bx-x'></i></a>
                    {% elif "link" in dicionario %}
                    <a href="/aprovar/tecnologia/{{dicionario["id"]}}" class="aprove"> Aprovar <i class='bx bx-check'></i></a>
                    <a href="/reprovar/tecnologia/{{dicionario["id"]}}" class="reprove"> Reprovar <i class='bx bx-x'></i> </a>
                    {% else%}
                    <a href="/aprovar/servico/{{dicionario["id"]}}" class="aprove"> Aprovar <i
                            class='bx bx-check'></i></a>
                    <a href="/reprovar/servico/{{dicionario[" id"]}}" class="reprove"> Reprovar <i class='bx bx-x'></i>
                    </a>
                    {% endif %}
                    <h1>{{dicionario["titulo"]}}</h1>
                    <h3>{{dicionario["empresaResponsavel"]}} {{dicionario["email"]}} {{dicionario["cnpj"]}} </h2>
                        <p>{{dicionario["descricao"]}}</p>
                        <p>{{dicionario["numero"]}}</p>
                        {% if 'empresaResponsavel' in dicionario %}
                        <a href="{{dicionario[" link"]}}">Clique aqui para ir para o download</a>
                        {% endif %}
                        {% if 'cnpj' in dicionario %}
                        <p>{{dicionario["endereco"]}}</p>
                        {% endif %}
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- aprovados -->
        <div class="results">
            {% for dicionario in lista %}
            {% if dicionario["adm"] == 1 %}
            <div class="result__item">
                <h1>{{dicionario["titulo"]}}</h1>
                <h3>{{dicionario["empresaResponsavel"]}} {{dicionario["email"]}} {{dicionario["cnpj"]}} </h2>
                    <p>{{dicionario["descricao"]}}</p>
                    <p>{{dicionario["numero"]}}</p>
                    {% if 'empresaResponsavel' in dicionario %}
                    <a href="{{dicionario[" link"]}}">Clique aqui para ir para o download</a>
                    {% endif %}
                    {% if 'cnpj' in dicionario %}
                    <p>{{dicionario["endereco"]}}</p>
                    {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- reprovados -->
        <div class="results">
            {% for dicionario in lista %}
            {% if dicionario["adm"] == 2 %}
            <div class="result__item">
                <h1>{{dicionario["titulo"]}}</h1>
                <h3>{{dicionario["empresaResponsavel"]}} {{dicionario["email"]}} {{dicionario["cnpj"]}} </h2>
                    <p>{{dicionario["descricao"]}}</p>
                    <p>{{dicionario["numero"]}}</p>
                    {% if 'empresaResponsavel' in dicionario %}
                    <a href="{{dicionario[" link"]}}">Clique aqui para ir para o download</a>
                    {% endif %}
                    {% if 'cnpj' in dicionario %}
                    <p>{{dicionario["endereco"]}}</p>
                    {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- empresa -->
        <div class="results">
            {% for dicionario in lista %}
            {% if 'cnpj' in dicionario %}
            <div class="result__item">
                <h1>{{dicionario["titulo"]}}</h1>
                <h3>{{dicionario["cnpj"]}}</h2>
                    <p>{{dicionario["descricao"]}}</p>
                    <p>{{dicionario["endereco"]}}</p>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </main>

    <footer class="footer section">
        <div class="footer__container container grid">
            <div>
                <a href="/" class="footer__logo">
                    Lillac <i class='bx bx-accessibility'></i>
                </a>
                <p class="footer__description">
                    Nosso objetivo é auxiliar pessoas de
                    acordo com suas necessidades especiais.
                </p>
            </div>

            <div class="footer__content">
                <div>
                    <h3 class="footer__title">
                        Sobre a gente
                    </h3>

                    <ul class="footer__links">
                        <li aling="justify" class="footer__link">
                                A ferramenta que foi desenvolvida no curso de informática do IFPR Campus Avançado 
                                Quedas do Iguaçu como um projeto final interdisciplinar. Se você ficou curioso e quer 
                                conhecer melhor nosso trabalho, clique aqui e confira todos os detalhes :)
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">
                        Os autores
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="https://github.com/LauraSilvestrin" class="footer__link">Laura Silvestrin</a>
                        </li>
                        <li>
                            <a href="https://danilogiacobo.eti.br" class="footer__link">Danilo Giacobo</a>
                        </li>
                        <li>
                            <a href="ttp://lattes.cnpq.br/8094115488886543" class="footer__link">Jaqueline Ganassoli</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="footer__info container">
            <span class="footer__copy">
                Todos os direitos reservados.
            </span>
        </div>
    </footer>

    <script src="../static/js/resultPage.js"></script>

</body>

</html>