{% extends 'indexForms.html' %}
{% block content %}

<main>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleForms.css')}}">
    <form action="/cadastro/ferramenta/" method="POST">

        <div class="form-group">
            <input type="text" class="form-control" name="titulo" placeholder="Titulo" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="descricao" placeholder="Descrição" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="link" placeholder="Link para download" required>
        </div>

        <div class="form-group">
            <input type="empresa" class="form-control" name="empresa" placeholder="Empresa autora" required>
        </div>

        <button type="submit" class="btn btn-primary"> Cadastrar </button>
    </form>
    <br>
</main>

{% endblock %}