{% extends 'indexForms.html' %}
{% block content %}

<main>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleForms.css')}}">
    <form action="/usuarios/create" method="POST">
        
        <div class="form-group">
            <input type="email  " class="form-control" name="nome" placeholder="Nome" required>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="senha" placeholder="Senha" required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="confirmacaoSenha" placeholder="Confirme sua senha" required>
        </div>

        <div class="form-group">
            <select name="tipoUsuario" class="form-control" aria-placeholder="Selecione">
                <option value="0">Pessoa com deficiência</option>
                <option value="1">Prestador de serviço</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary"> Cadastrar </button>
    </form>
    <br>

    <a href="/login">Já possui uma conta?</a>
</main>

{% endblock %}