{% extends 'indexHome.html' %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleHome.css')}}">
    <main>
        <div class="card">

            {% if usuario["tipo"] == '1' %}
                <div class="form-group">
                    <p>Prestador de serviços</p>
                </div>
            {% elif usuario["tipo"] == '0'%}
                <div class="form-group">
                    <p>Pessoa com deficiência</p>
                </div>
            {% endif %}

            <div class="form-group">
                <p>{{usuario["nome"]}}</p>
            </div>

            <div class="form-group">
                <p>{{usuario["email"]}}</p>
            </div>
            
            <div class="form-group">
                <a href="/edit/nome"><button class="btn-edit">Editar nome</button><a> <br><br>
                <a href="/edit/nome"><button class="btn-edit">Editar E-mail</button><a> <br><br>
                <a href="/edit/senha"><button class="btn-edit">Editar senha</button><a> <br><br>
                <a href="/excluir/perfil"><button class="btn-edit">Excluir perfil</button><a>
            </div>
        </div>

    </main>


{% endblock  %}